.mainContactDiv{
    margin-bottom: 0px;
    
        .contents1{
            padding: 20px;
            background-color: #0c0c0ce0;
            margin-bottom: 50px;
            direction: ltr;
            display: flex;
            flex-direction: column;
            justify-content: center;
              
            .socialIcons{
                width: 50px;
                height: 50px;
                border: dotted 2px;
                border-radius: 10px;
                border-color: $gold;
                transition-duration: 0.2s;
            }
    
            .socialIcons:hover{
                padding: 2px;
                border-color: $darkGold;
                filter: grayscale(30%);
            }
    
            
    
            .socialIcons2{
                width: 43px;
                height: 43px;
                vertical-align: middle;
            }
            a{
                font-size: 20px;
                color: white;
                text-decoration: none;
                transition-duration: 0.5s;
            
                &:hover{
                    color: $gold;   
                }
            }

        }
        
    
        .contents2{
            margin-top: 30px;
            margin-bottom: 30px;
            .mapouter{ position:relative; margin: auto ;text-align:right;height:450px;width:70%;}
            .gmap_canvas {overflow:hidden;background:none!important;height:450px;width:100%;}
        }

        .contents3{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 30px;
            
            h3{
                width: 90%;
            }

            .mapouter{ position:relative; margin: 5px;text-align:center;}
            .gmap_canvas {overflow:hidden;background:none!important;width:100%}
        }

        .logoCont{
            background-color: #0c0c0ce0;
        
            #logo{
                margin-top: 10px;
                border-radius: 40px;
                width: 100px;
                height: 100px;
                border: dotted 2px $gold;
            } 
        
        }

      
}