.logoTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    padding: 60px;
    padding-bottom: 150px;
    background-color: white;
    margin: 0;
}