@media screen and (max-width: 800px) {
    .coursesContainer{
        .courseBox{
            img{
                width: 90%;
            }
            h2{
                width: 95%;
            }
            .rowDiv{
                article{
                    width: 100%;
                    h2{
                        width: 90%;
                    }
                }
            }
        }
    }
}