header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--secondaryColor);

    a{
        text-decoration: none;
        color: var(--secondaryColor);
        font-size: larger;
        img{
            padding: 20px;
            height: 60px;
        }
    }
}