button{
    padding: 14px;
    border-radius: 8px;
    border: none;
    background-color: $primary;
    color: white; 
    transition: 0.2s;
    &:hover{
        background-color: $secondary;
    }
}