.background {
    z-index : -1;
    position: fixed;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;

    img {
        width          : 100%;
        height         : 100%;
        object-position: center;
        object-fit     : cover;
    }
}

.blurred {
    filter: blur(1);
    filter: brightness(0.2);
}

.menuDiv {
    // background-color: red;
    width          : 100%;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: flex-start;

    h1 {
        color: red;
    }

    section {
        padding-top   : 60px;
        width         : 60%;
        display       : flex;
        flex-direction: column;

        .food-type {
            cursor             : pointer;
            user-select        : none;
            margin             : auto auto 15px;
            width              : 100%;
            background-color   : rgb(243, 243, 243);
            box-shadow         : 0 0 3px gray;
            border-radius      : 10px;
            border-bottom      : 3px solid gray;
            padding            : 15px;
            text-align         : justify;
            transition-duration: 0.1s;
            display            : flex;
            justify-content    : space-around;
            flex-wrap          : wrap;

            &:active {
                transform    : translateY(2px);
                border-bottom: 1px solid gray;
            }

            .description {
                width  : 50%;
                padding: 20px;

                h4,
                p {
                    color        : black !important;
                    margin-bottom: 0;
                    margin-top   : 0;
                }

                p {
                    font-size: small;
                }

                h3 {
                    color        : red;
                    margin-bottom: 0;
                }
            }

            img {
                width     : 40%;
                object-fit: cover;
            }
        }
    }
}

@media screen and(max-width: 800px) {
    .background {
        img {
            object-position: right;
            filter         : blur(1);
            filter         : brightness(0.2);
        }
    }
}