@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500&display=swap");
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1D4354;
  color: #FFFFFF;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style: none;
  padding: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 16px 20px 18px grey;
          box-shadow: 0px 16px 20px 18px grey;
  padding: 50px 50px 50px 50px;
  background-image: url(../../img/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer span {
  background-color: #F1F2F4;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.95;
}

footer .footer-container {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

footer .footer-container div {
  width: 20%;
  padding: 20px;
}

footer .footer-container div h3 b {
  color: #14A800;
}

footer .footer-container div p {
  text-align: justify;
}

footer .footer-container div ul {
  padding: 0px;
}

footer .footer-container div ul li {
  list-style: none;
  margin-bottom: 5px;
}

footer .footer-container div ul li a {
  color: #656565;
  text-decoration: none;
  font-size: 16px;
}

footer .footer-container div:last-of-type {
  width: 40%;
}

footer .footer-container div:last-of-type div {
  padding: unset;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-container div:last-of-type div img {
  margin: 5px;
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar-expand-md .navbar-collapse {
  -webkit-box-pack: justify  !important;
      -ms-flex-pack: justify  !important;
          justify-content: space-between  !important;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section:nth-last-of-type(odd) {
  background-color: #F1F2F4 !important;
}

.absolute-div {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main {
  position: relative;
}

main #main-img {
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main .absolute-div p:nth-child(3) {
  opacity: 0.6;
}

.section2 {
  padding: 40px 0px 40px 0px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 300px;
  text-align: center;
}

.section2 div img {
  width: 50px;
}

.section3 {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 500px;
}

.section3 hr {
  margin-left: 0;
}

.section3 div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section3 div:nth-child(1) img {
  margin: 5px;
  width: 130px;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section3 div {
  width: 40%;
}

.section3 div h1 {
  font-size: 35px;
}

.section3 div p {
  text-align: justify;
}

.section4 {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 500px;
}

.section4 div {
  width: 40%;
  padding: 20px;
  text-align: justify;
}

.section4 div:nth-child(2) {
  text-align: center;
}

.section4 div:nth-child(2) img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.section5 {
  position: relative;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0px 40px 0px;
  background-image: url(../../img/bg.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

.section5 span {
  background-color: #1D4354;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.9;
}

.section5 .content-div {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: white;
}

.section5 .content-div .boxes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
}

.section5 .content-div .boxes-container div {
  margin: 5px;
  background-color: white;
  border-radius: 10px;
  width: 20%;
  padding: 10px;
}

.section5 .content-div .boxes-container div img {
  width: 100%;
  height: auto;
}

.section5 .content-div .boxes-container div h3 {
  color: black;
}

.section5 .content-div .boxes-container div p {
  color: #14A800;
}

.section6 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 70px;
}

.section6 div {
  width: 50%;
  background-color: white;
  max-height: 450px;
}

.section6 div img {
  width: 100%;
  height: 100%;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
}

.section6 .sec6-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 20px;
}

.section6 .sec6-content p {
  opacity: 0.7;
}

.section6 .sec6-content button {
  color: #14A800;
  border-radius: 5px;
  background-color: unset;
  border: solid 2px #14A800;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.section6 .sec6-content button:hover {
  background-color: #14A800;
  color: white;
}

.section7 {
  position: relative;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0px 70px 0px;
  background-image: url(../../img/pexels-andrew-kota-4083442.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section7 span {
  background-color: #1D4354;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.9;
}

.section7 div {
  width: 50%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.section7 div h1 {
  font-size: 30px;
}

.section7 div p {
  color: white;
}

.section7 div img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.section7 div h4 {
  color: #14A800;
  font-weight: 100;
  letter-spacing: 5px;
}

* {
  font-family: 'Bitter', serif !important;
}

.active a {
  color: #95DF00 !important;
}

hr {
  width: 40%;
  background-color: #14A800;
  height: 2px;
}

button {
  padding: 14px;
  border-radius: 8px;
  border: none;
  background-color: #14A800;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button:hover {
  background-color: #1D4354;
}

@media screen and (max-width: 800px) {
  #main-img {
    height: 400px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=root.css.map */