@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500&display=swap");
:root {
  --primaryColor: #1098ff;
  --secondaryColor: #D123DD;
  --primaryColorHovered: #c5c5c5;
  --primaryColorActivated: #9b9b9b;
}

html, body {
  position: relative;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FAFAFA;
  overflow: auto;
  min-height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: var(--secondaryColor);
}

header a {
  text-decoration: none;
  color: var(--secondaryColor);
  font-size: larger;
}

header a img {
  padding: 20px;
  height: 60px;
}

footer {
  margin-bottom: 0;
  padding: 10px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f0f0f0;
}

footer h4 {
  text-align: center;
  color: #1a1a1a;
}

footer h4 a {
  color: var(--primaryColor);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

footer h4 a:hover {
  opacity: 0.9;
}

footer h4 a:active {
  opacity: 1;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.boxContainer {
  position: relative;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: white;
  border: 2px solid #DBDBDB;
  border-radius: 5px;
  padding: 40px;
}

.boxContainer p {
  font-size: 15px;
}

.boxContainer article {
  padding: 30px 0px 10px 0px;
  text-align: justify;
}

.boxContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.boxContainer form input {
  width: 80%;
  margin: 5px 0px 30px 0px;
  border: 1px solid #919191;
  padding: 5px;
  border-radius: 5px;
}

.boxContainer form button {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  background-color: var(--secondaryColor);
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.boxContainer form button:hover {
  opacity: 0.9;
}

.boxContainer form button:active {
  opacity: 1;
}

.boxContainer .questionsForm .questions {
  width: 100%;
}

.boxContainer .questionsForm .questions .question {
  text-align: justify;
  margin-bottom: 30px;
}

.boxContainer .questionsForm .questions .question div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boxContainer .questionsForm .questions .question div .randomBtn {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: auto;
  padding: 5px;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  background-color: #f3f3f3;
}

.boxContainer .questionsForm .questions .question div .randomBtn:hover {
  background-color: #ebebeb;
}

.boxContainer .questionsForm .questions .question div .randomBtn:active {
  background-color: #d1d1d1;
}

.boxContainer .questionsForm .questions .question .answers {
  width: 100%;
}

.boxContainer .questionsForm .questions .question .answers .answer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.boxContainer .questionsForm .questions .question .answers .answer .checkBox {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #e2e2e2;
  border-radius: 50%;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.boxContainer .questionsForm .questions .question .answers .answer .checkBox:hover {
  background-color: var(--primaryColorHovered);
}

.boxContainer .questionsForm .questions .question .answers .answer .checkBox:active {
  background-color: var(--primaryColorActivated);
}

.boxContainer .questionsForm .questions .question .answers .answer .checkBoxA {
  background-color: var(--primaryColor);
}

.boxContainer .questionsForm .questions .question .answers .answer .checkBoxA:hover {
  background-color: var(--primaryColor);
}

.boxContainer .questionsForm .questions .question .answers .answer .checkBoxWrong {
  background-color: red;
}

.boxContainer .questionsForm .questions .question .answers .answer .checkBoxWrong:hover {
  background-color: red;
}

.boxContainer .questionsForm .questions .question hr {
  width: 100%;
}

.boxContainer .questionsForm .questions .delIcon {
  cursor: pointer;
  font-size: 20px;
  color: var(--secondaryColor);
  border-radius: 50%;
  padding: 5px 7px 5px 7px;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.boxContainer .questionsForm .questions .delIcon:hover {
  background-color: #eeeeee;
}

.boxContainer .questionsForm .questions .delIcon:active {
  background-color: #e2e2e2;
}

.boxContainer .questionsForm .addAn,
.boxContainer .questionsForm .addQs {
  background-color: transparent;
  border: dashed 1px #919191;
  color: black;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  margin: 10px 0px 10px 0px;
  background-color: var(--secondaryColor);
  color: white;
  border-color: #00000000;
  width: 80%;
}

.boxContainer .questionsForm .addAn {
  margin-top: 0px;
  width: 50%;
  background-color: var(--primaryColor);
}

.boxContainer .questionsForm button[type=submit] {
  background-color: unset;
  background: linear-gradient(10deg, var(--primaryColor), var(--secondaryColor));
}

.linkDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.linkDiv input {
  padding: 5px;
  margin: 5px;
}

.slided {
  -webkit-animation: slideInfinite 2s cubic-bezier(0, 0, 0, 0) infinite;
          animation: slideInfinite 2s cubic-bezier(0, 0, 0, 0) infinite;
}

.slideUp {
  position: fixed;
  bottom: 59px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  text-align: center;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border: solid 1px #DBDBDB;
  opacity: 0;
  -webkit-animation: slideUp 1.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
          animation: slideUp 1.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

.slideUp h3 {
  margin: 20px;
}

@-webkit-keyframes slideInfinite {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes slideInfinite {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}

* {
  font-family: 'Bitter', serif;
}

*::-moz-selection {
  background-color: var(--primaryColor);
}

*::selection {
  background-color: var(--primaryColor);
}

h1 {
  width: 200;
  font-weight: 500;
}

h2,
h3,
h4,
h5 {
  font-weight: 400;
  margin: 10px 0px 10px 0px;
}

p {
  line-height: 20px;
  font-weight: 300;
  margin: 5px 0px 5px 0px;
}

a {
  text-decoration: none;
  color: var(--secondaryColor);
}

strong {
  color: var(--primaryColor);
}

#errorMessage {
  color: red;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.copied {
  display: none;
  color: var(--primaryColor);
  font-weight: 800;
}

.qTitle {
  color: var(--primaryColor);
  font-weight: 400;
}

#linkInput {
  border: 1px solid #dfdfdf;
  padding: 5px;
}

textarea {
  border: none;
  resize: vertical;
  min-width: 70%;
  max-width: 70%;
  font-size: medium;
  background-color: #fafafa;
  color: black;
  border-radius: 10px;
  padding: 10px;
  margin: 7px;
  -webkit-text-fill-color: black;
  opacity: 1;
  /* required on iOS */
}

.questionTextarea {
  min-width: 90%;
  max-width: 90%;
  font-size: large;
}

#copyBtn {
  margin: 10px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  background-color: var(--primaryColor);
  color: white;
  border: none;
  border-radius: 5px;
}

#copyBtn:hover {
  opacity: 0.9;
}

#copyBtn:active {
  opacity: 1;
}

.copySent {
  padding: 5px;
  background-color: var(--primaryColor);
  color: white;
  border: none;
  border-radius: 5px;
}

.copySent:hover {
  opacity: 0.9;
}

.copySent:active {
  opacity: 1;
}

#createBtn {
  background: linear-gradient(10deg, var(--primaryColor), var(--secondaryColor));
}

.deleteQuiz {
  margin: 10px;
  width: 20px;
}

#scoreTable {
  margin: 0px 0px 100px 0px;
  border-collapse: collapse;
  border-style: hidden;
}

#scoreTable,
#scoreTable th,
#scoreTable td {
  border-radius: 5px;
  padding: 5px 40px 5px 40px;
  text-align: justify;
}

#scoreTable thead {
  border-bottom: solid 1px #DBDBDB;
}

.finish {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.finish input {
  width: 80%;
}

.finish h2 {
  margin: 0;
}

@media screen and (max-width: 800px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header a {
    width: 80%;
    text-align: center;
  }
  header #logo {
    border-bottom: solid 2px #dbdbdb;
  }
  header a:not(#logo) {
    padding: 20px;
  }
  #scoreTable,
  #scoreTable th,
  #scoreTable td {
    padding: 5px 20px 5px 20px;
  }
  main {
    margin-bottom: 50px;
    padding: 10px;
  }
  .boxContainer {
    width: 85%;
  }
}
/*# sourceMappingURL=root.css.map */