@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.adult {
    background-color: red;
    padding         : 20px;
    border-radius   : 50%;
    color           : white;
}

h1 {
    font-size: 23px;
}

h2, summary {
    font-size: 18px;
}

h4 {
    margin: 0;
}