.myCustomBtn, .myFilledCustomBtn, .myQuantityCustomBtn {
    padding         : 10px;
    color           : $c1;
    border-radius   : 5px;
    background-color: unset;
    border          : solid 2px $c1;
    width           : fit-content;
    transition      : 0.2s;

    &:hover {
        background-color: $c1;
        color           : white;
    }
}

.myFilledCustomBtn {
    color           : white !important;
    background-color: $c1 !important;
    border          : none !important;

    &:hover {
        background-color: $c2 !important;
    }
}

.myQuantityCustomBtn {
    color           : white !important;
    background-color: $c-bg3 !important;
    border          : none !important;

    &:hover {
        background-color: $c-bg4 !important;
    }
}
