.carousel-item>img {
  object-fit     : cover;
  object-position: center;
  overflow       : hidden;
  max-height     : 90vh;
}

.carousel-item {
  transition: transform 3s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 3s;
}