@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500&display=swap');

* {
    font-family: 'Bitter', serif !important;
}

.active {
    color: $c2 !important;
}


.myCustomHr {
    background-color: $c1;
    height          : 2px !important;
    border          : none;
    opacity         : 1;
}

.myCustomText{
    color: $c-font1;
    &:hover{
        color: $c-font6;
    }
}

h1,
h2,
h3,
h5,
h6 {
    color: $c-font1;
}

h4 {
    color: $c-font5;
}

p {
    color: $c-font2;
}

.price {
    color: $c1;
}

a {
    color              : $c-font4;
    transition-duration: 0.1s;
    text-decoration    : none;

    &:hover {
        color          : $c-font3;
        text-decoration: none;
    }
}

.myCustomLink {
    color: $c-font6 !important;

    &:hover {
        color: $c-font5 !important;
    }
}