@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500&display=swap');

* {
    font-family: 'Bitter', serif !important;
}

.active{
    color: $c2 !important;
}

hr {
    background-color: $c1;
    height:3px !important;
    border:none;
    opacity: 1;

}

h1, h2, h3, h4, h5, h6{
    color: $c-font1;
}

p{
    color: $c-font2;
}

a{
    color          : $c-font4;
    transition-duration: 0.1s;
    text-decoration: none;
    &:hover{
        color: $c-font3;
        text-decoration: none;
    }
}

