// Colors
$c1: #14A800;
$c2: #1D4354;
$c3: #95DF00;

// Background
$c-bg1: #FFFFFF;
$c-bg2: #F1F2F4;

// Fonts
$c-font1: #222222;
$c-font2: #656565;
$c-font3: #FFFFFF;

// Borders
$c-border: #E0E0E0;

// Buttons
$c-button1: #14A800;
$c-button-hover1: #95DF00;
$c-button-hover2: #f9f9f9;