// Colors
$c1: #FCA311;
$c2: #ffb134;

// Background
$c-bg1: #FFFFFF;
$c-bg2: #f8f8f8;
$c-bg3: #14213d;
$c-bg4: #0D0D0D;

// Fonts
$c-font1: #14213D;
$c-font2: #575757;
$c-font3: #FFFFFF;
$c-font4: #c2c2c2;
$c-font5: #0f1112;
$c-font6: #1a1d1fc4;

// Borders
$c-border: #E0E0E0;

// Default Padding
$defult-padding: 50px 100px 50px 100px !default; 

