* {
    @import url("https://fonts.googleapis.com/css2?family=Almarai&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Mirza&display=swap");
    // font-family: 'Lobster Two', cursive;
    font-family       : "Mirza", cursive;
    line-height       : 1.6;
    // color             : #ebebeb;

    &::selection {
        background-color: red;
    }
}

h1 {
    font-size: 32px;
}

li {
    font-size: 18px;
}