@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500&display=swap");
html, body {
  margin: 0;
  height: 100%;
  font-family: 'Rancho', cursive;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header ul li {
  list-style: none;
  margin: 8px;
}

.stickyHeader {
  background-color: aliceblue;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
}

.stickyHeader #homeTitle {
  color: black !important;
}

@media screen and (max-width: 800px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header #homeTitle {
    display: none;
    visibility: hidden;
  }
  .header ul {
    padding: unset;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #3a86ff;
  color: white;
  padding: 15px;
}

#homeSect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  color: white;
}

#homeSect article {
  text-align: justify;
  padding: 20px;
}

#homeSect article h1,
#homeSect article p {
  margin: 0;
}

#homeSect .imgDiv {
  max-width: 400px;
  margin-top: 50px;
}

#homeSect .imgDiv img {
  max-width: 100%;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px;
  padding-top: 70px;
  text-align: justify;
}

section ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: start;
  padding: 5px;
}

section ul li a {
  font-weight: 400;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

section ul li a:hover {
  color: #3a86ff;
}

.coloredSec {
  background-color: #f4f8ff;
}

.whiteSec {
  background-color: #e2edff;
  z-index: 5;
}

@media screen and (max-width: 800px) {
  #homeSect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  #homeSect article {
    text-align: center;
    padding-top: 100px;
  }
  #homeSect .imgDiv {
    margin-top: unset;
    max-width: 85%;
  }
  section {
    padding: 50px;
  }
}

* {
  font-family: 'Bitter', serif;
}

h1 {
  width: 200;
  font-weight: 500;
}

h2,
h3,
h4,
h5 {
  font-weight: 400;
  margin: 10px 0px 10px 0px;
}

p {
  line-height: 20px;
  font-weight: 300;
  margin: 5px 0px 5px 0px;
}

a {
  text-decoration: none;
}

a {
  color: black;
}

#homeTitle {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.navA {
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.navA:hover {
  color: #3075e2;
}

.activeA {
  border-bottom: dotted 3px #3075e2;
}

@media screen and (max-width: 800px) {
  #homeTitle {
    padding-left: unset;
  }
}

.rectangle {
  z-index: -1;
  position: absolute;
  background-color: #3a86ff;
  width: 70%;
  height: 100%;
}

.circlesDiv {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.circlesDiv .circleC .circle {
  opacity: 0.5;
  border: solid;
}

.socialDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialDiv img {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  margin: 5px;
  background: none;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-box-shadow: 1px 1px 6px #00000038;
          box-shadow: 1px 1px 6px #00000038;
}

.socialDiv img:hover {
  -webkit-box-shadow: 0px 0px 3px #00000038;
          box-shadow: 0px 0px 3px #00000038;
}

@media screen and (max-width: 800px) {
  .rectangle {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */