@media screen and (max-width: 800px) {
    header{
        flex-direction: column;
        a:not(#logo){
            padding: 20px;
        }
    }
    
    #scoreTable {
        &,
        th,
        td {
            padding      : 5px 20px 5px 20px;
        }
    
    }

    

    main{
        padding: 10px;
        margin-bottom: 50px;
    }

}