@media screen and (max-width: 800px) {
    header {
        flex-direction: column;

        a{
            width: 80%;
            text-align: center;
        }

        #logo{
            border-bottom: solid 2px #dbdbdb;
        }

        a:not(#logo) {
            padding: 20px;
        }
    }

    #scoreTable {

        &,
        th,
        td {
            padding: 5px 20px 5px 20px;
        }

    }



    main {
        margin-bottom: 50px;
        padding      : 10px;
    }

    .boxContainer {
        width: 85%;
        padding: 25px;
    }
}