body, html{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    margin: 0;
    @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
    font-family: 'Special Elite', cursive;
}

