header {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-around;
    align-items     : center;
    padding-top     : 30px;
    padding-bottom  : 30px;
    background-color: white;

    .profileInfo {
        display    : flex;
        align-items: center;

        a {
            color: black;
        }

        img {
            width  : 50px;
            height : 50px;
            padding: 10px;
        }
    }

    .searchBar {
        display        : flex;
        justify-content: center;
        width          : 50%;

        input {
            border            : dotted 2px #9b9b9b;
            border-radius     : 10px;
            padding           : 10px;
            -webkit-appearance: none;
            width             : 100%;

            &:focus {
                outline   : none;
                border    : solid 2px #0F92F3;
                box-shadow: 0px 0px 4px 0px #0f92f3;

            }

        }
    }



    .fav {
        cursor             : pointer;
        user-select        : none;
        transition-duration: 0.09s;
        box-shadow         : 1px 1px 2px 0px #888888;
        padding            : 10px;
        border-radius      : 10px;
        transition-duration: 0.2s;
        color              : #0F92F3;
    }

    .fav-active {
        box-shadow: inset 1px 1px 2px 0px #888888;
    }
}