header {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-around;
    align-items     : center;
    padding-top     : 30px;
    padding-bottom  : 30px;
    background-color: white;

    .profileInfo {
        display    : flex;
        align-items: center;

        img {
            width  : 50px;
            height : 50px;
            padding: 5px;
        }
    }

    .searchBar {
        display        : flex;
        justify-content: center;
        width          : 50%;

        input {
            border            : dotted 2px #9b9b9b;
            border-radius     : 10px;
            padding           : 10px;
            -webkit-appearance: none;
            width             : 100%;

            &:focus {
                outline   : none;
                border    : solid 2px #0F92F3;
                box-shadow: 0px 0px 4px 0px #0f92f3;

            }

        }
    }

    

    .fav{
        cursor: pointer;
        user-select: none;
        transition-duration: 0.09s;
        &:hover{
            color: #6b6b6b;
        }

        &:active{
            color: black;
        }
    }

    .fav-active{
        color: #0f92f3;
        text-shadow: 1px 1px 2px #0f92f385;
        &:hover{
            color: #30a2f8;
        }

        &:active{
            color: #0f92f3;
        }
    }
}