a{
    color: black;
}

#homeTitle{
    color: white;
    font-weight: bold;
    text-decoration: none;
    
}
.navA{
    text-decoration: none;
    border-radius: 3px;
    transition-duration: 0.3s;

    &:hover{
        color: $secondary;
    }

    
}

.activeA{
    border-bottom: dotted 3px $secondary;
}

@media screen and (max-width: 800px) { 
    #homeTitle{
        padding-left: unset;
    }

}

