@media screen and (max-width: 800px) { 
    .courseContent {
        .coursesContainer {
            flex-direction: column;
            .courseBox{
                margin: auto;
                width: 90%;
                margin-bottom: 20px;
            }
        }


        #forMoreInfoButton{
            width: 90%;
            text-align: center;
        }
    }
    
}