@import url("https://fonts.googleapis.com/css2?family=Almarai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mirza&display=swap");
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  position: relative;
  margin: 0;
  height: 100%;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00000071;
}

header h1 {
  color: #ebebeb;
  margin-left: 50px;
  font-family: "Almarai", sans-serif;
}

@media screen and (max-width: 800px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header h1 {
    margin-left: unset;
  }
}

.headerNav {
  margin-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerNav ul li {
  cursor: pointer;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.headerNav ul li a {
  text-decoration: none;
  color: white;
}

.headerNav ul li:hover a {
  color: red;
}

.headerNav ul .logIn,
.headerNav ul .logInA {
  margin-left: 30px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.headerNav ul .logIn:hover,
.headerNav ul .logInA:hover {
  background-color: white;
}

.headerNav ul .logIn:active,
.headerNav ul .logInA:active {
  background-color: unset;
}

.headerNav ul .logInA {
  background-color: white;
  border: unset;
}

.headerNav ul .logInA a {
  color: red;
}

.headerNav ul .activeLi {
  color: red;
}

.foodNav {
  z-index: 1;
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 14px -13px black;
          box-shadow: 0px 5px 14px -13px black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow-x: scroll;
}

.foodNav::-webkit-scrollbar {
  display: none;
}

.foodNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foodNav ul li {
  cursor: pointer;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foodNav ul li a {
  text-decoration: none;
  color: black;
  padding: 15px;
}

.foodNav ul li:hover a {
  color: red;
}

@media screen and (max-width: 800px) {
  .headerNav {
    margin-left: unset;
  }
  .foodNav::-webkit-scrollbar {
    display: unset;
  }
}

footer {
  background-color: #0a0a08;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

article {
  height: 100%;
  color: #ebebeb;
}

.main {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.main h1 {
  margin-bottom: 0;
}

.main p {
  text-align: justify;
}

.main:first-of-type {
  -webkit-animation: fadeIn 1s ease-in-out forwards;
          animation: fadeIn 1s ease-in-out forwards;
}

.menu,
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #161715d3;
  padding: 20px;
}

.menu {
  height: unset;
}

.contact {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #161715d3;
  padding: 20px;
}

.contact img {
  width: 45px;
  height: 45px;
  margin: 5px;
  padding: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px white;
          box-shadow: 0px 0px 5px white;
}

.contact img:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px rgba(235, 235, 235, 0.856);
          box-shadow: 0px 0px 10px rgba(235, 235, 235, 0.856);
}

.data-php {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: red;
}

.data-php form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 15px;
  padding: 20px;
  background-color: white;
  border-radius: 30px;
}

.data-php form textarea {
  min-width: 90%;
  min-height: 400px;
}

.data-php form input[type=submit] {
  cursor: pointer;
  margin: auto;
  border: none;
  width: 30%;
  padding: 5px;
  color: white;
  background-color: #0A95FF;
  border-radius: 10px;
  font-size: large;
}

.data-php form input[type=submit]:hover {
  background-color: #199cff;
}

.data-php #logout {
  margin-top: 10px;
  background-color: red;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.data-php #logout:hover {
  background-color: #ff3232;
}

@media screen and (max-width: 800px) {
  .main {
    width: 100%;
  }
}

.menu-conatiner {
  height: 100%;
  width: 80%;
  position: relative;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}

.menu-conatiner img {
  width: 150px;
  height: 150px;
}

.background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.blurred {
  -webkit-filter: blur(1);
          filter: blur(1);
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
}

.menuDiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menuDiv h1 {
  color: red;
}

.menuDiv section {
  padding-top: 60px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menuDiv section .food-type {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: auto auto 15px;
  width: 100%;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 0 3px gray;
          box-shadow: 0 0 3px gray;
  border-radius: 10px;
  border-bottom: 3px solid gray;
  padding: 15px;
  text-align: justify;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menuDiv section .food-type:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  border-bottom: 1px solid gray;
}

.menuDiv section .food-type .description {
  width: 50%;
  padding: 20px;
}

.menuDiv section .food-type .description h4,
.menuDiv section .food-type .description p {
  color: black !important;
  margin-bottom: 0;
  margin-top: 0;
}

.menuDiv section .food-type .description p {
  font-size: small;
}

.menuDiv section .food-type .description h3 {
  color: red;
  margin-bottom: 0;
}

.menuDiv section .food-type img {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 800px) {
  .background img {
    -o-object-position: right;
       object-position: right;
    -webkit-filter: blur(1);
            filter: blur(1);
    -webkit-filter: brightness(0.2);
            filter: brightness(0.2);
  }
}

.logInForm {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  color: #ebebeb;
}

.logInForm input {
  width: 40%;
  font-size: large;
  margin-bottom: 20px;
  border-radius: 5px;
}

.logInForm input[type="submit"] {
  width: 30%;
  padding: 10px;
  background-color: #ff2020;
  color: #ebebeb;
}

* {
  font-family: "Mirza", cursive;
  line-height: 1.6;
}

*::-moz-selection {
  background-color: red;
}

*::selection {
  background-color: red;
}

h1 {
  font-size: 32px;
}

li {
  font-size: 18px;
}
/*# sourceMappingURL=root.css.map */