*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-size: 40px;
    line-height: 5px;
    color: $primary;
}
h3{
    font-size: 20px;
}

a{
    font-size: 18px;
}
p{
    font-size: 16px;
}

#activeA {
    color: #e7470c;
}