// Body
$primary : #2b75ff;
$secondary: #b73ee7;
$thirdly  : #ffffff;
$fourly   : #131313;

$lighter: #020e14da;

// Text
$txt-primary  : #212529;
$txt-secondary: #ffffff;
$txt-selection: #ff0040;

// Form
$form-bg           : #ffffff;
$form-button       : #2b75ff;
$form-button-hover : #2b75ffd5;
$form-button-active: #1f65e6;
$form-input        : #EBF0FC;

// Shadow
$shadow: #00000086;

//Logout Button
$logoutBtn: #e00000;
$logoutBtn-hover: #fd1919;