#copyBtn {
    margin          : 10px;
    width           : 50%;
    text-align      : center;
    text-decoration : none;
    padding         : 10px;
    background-color: var(--primaryColor);
    color           : white;
    border          : none;
    border-radius   : 5px;

    &:hover {
        opacity: 0.9;
    }

    &:active {
        opacity: 1;
    }
}

.copySent{
    padding         : 5px;
    background-color: var(--primaryColor);
    color           : white;
    border          : none;
    border-radius   : 5px;

    &:hover {
        opacity: 0.9;
    }

    &:active {
        opacity: 1;
    }
}
#createBtn{
    background: linear-gradient(10deg, var(--primaryColor), var(--secondaryColor));
}

.deleteQuiz{
    margin: 10px;
    width: 20px;
}