#copyBtn {
    margin          : 30px;
    width           : 50%;
    text-align      : center;
    text-decoration : none;
    padding         : 10px;
    background-color: $secondaryColor;
    color           : white;
    border          : none;
    border-radius   : 5px;

    &:hover {
        opacity: 0.9;
    }

    &:active {
        opacity: 1;
    }
}