#copyBtn {
    margin          : 10px;
    width           : 50%;
    text-align      : center;
    text-decoration : none;
    padding         : 10px;
    background-color: var(--primaryColor);
    color           : white;
    border          : none;
    border-radius   : 5px;

    &:hover {
        opacity: 0.9;
    }

    &:active {
        opacity: 1;
    }
}

.copySent,
.deleteSent {
    cursor          : pointer;
    padding         : 5px;
    background-color: var(--primaryColor);
    color           : white;
    border          : none;
    border-radius   : 5px;
    font-size       : 13px;

    &:hover {
        opacity: 0.9;
    }

    &:active {
        opacity: 1;
    }
}

.deleteSent {
    background-color: unset;
    color           : red;

}

#createBtn {
    background: linear-gradient(10deg, var(--primaryColor), var(--secondaryColor));
}

.deleteQuiz {
    margin: 10px;
    width : 20px;
}