#scoreTable {
    margin: 0px 0px 100px 0px;

    border-collapse: collapse;
    border-style   : hidden;

    &,
    th,
    td {
        border-radius: 5px;
        padding      : 5px 40px 5px 40px;
        text-align   : justify;
    }

    thead {
        border-bottom: solid 1px #DBDBDB;

    }

}