@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500&display=swap');

* {
    font-family: 'Bitter', serif;

    &::selection {
        background-color: var(--primaryColor);
    }
}

h1 {
    width      : 200;
    font-weight: 500;
}

h2,
h3,
h4,
h5 {
    font-weight: 400;
    margin     : 10px 0px 10px 0px
}



p {
    line-height: 20px;
    font-weight: 300;
    margin     : 5px 0px 5px 0px;
}

a {
    text-decoration: none;
    color          : var(--secondaryColor);
}

strong {
    color: var(--primaryColor);
}

#errorMessage {
    color             : red;
    animation-duration: 0.5s;
}

.copied {
    display    : none;
    color      : var(--primaryColor);
    font-weight: 800;
}

.qTitle {
    color      : var(--primaryColor);
    font-weight: 400;
}

#linkInput {
    border : 1px solid rgb(223, 223, 223);
    padding: 5px;
}

textarea {
    border                 : none;
    resize                 : vertical;
    min-width              : 70%;
    max-width              : 70%;
    font-size              : medium;
    background-color       : #fafafa;
    color                  : black;
    border-radius          : 10px;
    padding                : 10px;
    margin                 : 7px;
    -webkit-text-fill-color: black;
    opacity                : 1; /* required on iOS */
    
}

.questionTextarea {
    min-width: 90%;
    max-width: 90%;
    font-size: large;

}